/* App.css */
body {
  background-color: #f4f4f9;
  font-family: 'Arial', sans-serif;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #e5d5e7;
  padding: 20px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #bc2186;
}

input[type="text"] {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e353deae;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #21a1f1;
}

.display-box {
  padding: 20px;
  margin: 20px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: white;
  color: #333;
  width: 80%;
  max-width: 1000px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chat-box {
  padding: 20px;
  margin: 20px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: white;
  color: #333;
  width: 80%;
  max-width: 800px;
  height: 400px;
  overflow-y: scroll;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.code-block {
  text-align: left;
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 5px;
  margin: 10px auto;
  width: 80%;
  max-width: 1000px;
}

img {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.error {
  color: red;
}
